<div class="top-row pl-4 navbar navbar-collapse">
    <a class="navbar-brand" href="">SOFTING CASH POWER</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addclient">
                <span class="oi oi-people" aria-hidden="true"></span> Add customers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="compteur" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Liste des compteur
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="acheter">
                <span class="oi oi-monitor" aria-hidden="true"></span> Achat du Cash power
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="typecompteur">
                <span class="oi oi-external-link" aria-hidden="true"></span> Model Compteur
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="templateform">
                <span class="oi oi-account-login" aria-hidden="true"></span> Connexion
            </NavLink>
        </li>

    </ul>    
</div>

@code {
    private bool collapseNavMenu = true;
    private bool subMenu;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
